.img{
    background-size: cover;
    width: 200px;
    height: 140px;
    border-radius: 5px;
    /* padding: 3px; */
    /* border-radius: 10px; */
    object-fit: cover;
 }

 .img:hover {
    width: 200px;
    object-fit: cover;
}

 .Link {
    text-decoration: none;
  }

  .card {
    width: 200px;
    height: 270px;
    margin: 20px 20px;
    /* background-color: #ECECEC; */
    /* background: linear-gradient(to bottom right, #b6b6b688, #70707054);; */

    border-width: 1px;
    border-style: solid;
    background: linear-gradient(#242f57, #15039e) padding-box,
    linear-gradient(168.82deg, #7AABED 1.7%, rgba(155, 111, 238, 0) 28.19%, rgba(123, 127, 234, 0) 69.97%, #41479B 99.52%) border-box;
    border-color: transparent;
    /*border-color: #ffffff60;*/
    /* border-color: #e10858b9; */
    border-radius: 5px;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0.8;
}

.card:hover {
    width: 200px;
    height: 270px;
    background: linear-gradient(#1F1D2B, #1F1D2B) padding-box,
    linear-gradient(168.82deg, #7AABED 1.7%, rgba(155, 111, 238, 0) 28.19%, rgba(123, 127, 234, 0) 69.97%, #41479B 99.52%) border-box;
    border-color: transparent;
    cursor: pointer;
    /* border: 3px solid #374658; */
}

.h3 {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    border-top: 1px #ffffff60 solid;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 0px 5px;
    height: 38px;
    width: 190px;
}

.h3:hover{
    font-size: 15px;
}


.h4 {
    font-family: 'Montserrat', sans-serif;
    color: #120101;
    display: flex;
    padding: 10px 10px;
    align-items: flex-start;
    /* height: 20px; */
    width: 100px;
}
