.landing{
    background-image: url('https://thumbs.gfycat.com/BadPiercingAfricanpiedkingfisher-size_restricted.gif');
    height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.h1{  font-size: 50px;
    text-align: center;
    text-shadow: -4px 3px 0 #45a1ab, -14px 7px 0 #5674eb;}

    .button {
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #3d348b;
        box-shadow: 0 5px #2c0b8e;
      }
      .button:hover {
        box-shadow: 0 3px #2c0b8e;
        top: 1px;
      }
      .button:active {
        box-shadow: 0 0 #2c0b8e;
        top: 5px;
      }    