.button{

    color:rgba(15, 168, 234, 0.781);
    font-size: 15px;
    border: 2px solid rgba(18, 183, 183, 0.781);
    border-radius: 5px;
    width: 80px;
    height:25px;
}

.button:hover {
    background-color: rgba(15, 172, 220, 0.781);
    color:rgba(134, 197, 222, 0.781);
    cursor: pointer;
    
}

.text{
    color:rgba(8, 8, 8, 0.781);
    border-radius: 5px;
    border: 2px solid rgba(22, 102, 176, 0.781);
    width: 200px;
    height:20px;
    margin-right:10px
}
